
.marquee {
  height: 400px;
  width: 2420px;
  overflow: hidden;
  position: relative;
}

.marquee {
  display: block;
 
  position: absolute;
  overflow: hidden;

-webkit-animation: marquee 25s linear infinite;
animation: marquee 5s linear infinite;

}
img{
	float: left;
	width:200px;
	height: auto;
}
img:hover{
	width: 400px;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
@-webkit-keyframes marquee {
  0% { left: 0%; }
  100% { left: -100%; }
}